<%= form_for @project do |f| %>
  
  <%= f.label :name%>  
    <%= f.text_field :name %>

    <%= f.label :description%>
    <%= f.text_field :description %>
    <div class="field">
      <%= f.label :files %>
      <%= f.file_field :files, multiple: true %>
    </div>
    <h3>Tasks</h3>
    <div id='tasks'>
      <%= f.fields_for :tasks do |task| %>
        <%= render 'task_fields', :f => task %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add task', f, :tasks %>
      </div>
    </div>
    
      <%= f.submit 'Save' %>
   
  
<% end %>